---
title: TIY Houston Announcements
---
<div class="reveal">
<!-- Any section element inside of this container is displayed as a slide -->
  <div class="slides">
<!-- Welcome Slide -->


    <section>

    							<h2>Welcome to</h2>
    							<a class="image" href="http://theironyard.com" target="_blank">
    						<img src="../images/logo_big.png"></a>



    				</section>


    				<!-- Slide CONTACT -->
    				<section>

    				  <h2>The Contact Info</h2>
    					- Brian Dorton - Director
    					<p><a href="mailto:brian.dorton@theironyard.com">brian.dorton@theironyard.com</a></p>
    					<p><a href="tel:713-922-5440">713-922-5440</a></p>
    					- Justin Richards - Front End Engineering Instructor
    					<p><a href="mailto:justin.richards@theironyard.com">justin.richards@theironyard.com</a></p>
    					<p><a href="tel:727-686-1967">727-686-1967</a></p>
    					- Jesse Wolgamott - Rails Engineering Instructor
    					<p><a href="mailto:jesse@theironyard.com">jesse@theironyard.com</a></p>
    					<p><a href="tel:713-397-2814">713-397-2814</a></p>

    				</section>

    				<!-- Slide CONTACT -->
    				<section>

    					<h2>The Contact Info</h2>
    					- Matt Keas - Front End Engineering Support
    					<p><a href="mailto:matt@theironyard.com">matt@theironyard.com</a></p>
    					<p><a href="tel:832-341-4488">832-341-4488</a></p>
    					- Christie Loyd - Campus Opersations Manager
    					<p><a href="tel:832-294-1431">832-294-1431</a></p>
    				</section>

    				<!-- Slide SCHEDULE -->

    				<section>

    						<h2>The Schedule</h2>

    						Here is the schedule for today:
                <ul>
                  <li><p class="fragment fade-in" data-fragment-index="1">9:30 - 9:55  Welcome, housekeeping items and introductions</p></li>
                  <li><p class="fragment fade-in" data-fragment-index="2">10:00 - 12:30  Split into classes for Lecture 1</p></li>
                  <li><p class="fragment fade-in" data-fragment-index="3">12:30 - 1:15  Lunch</p></li>
                  <li><p class="fragment fade-in" data-fragment-index="4">1:15 - 4:00  First Day Lab</p></li>
                </ul>





    				</section>

    				<section>

    						<h2>The Schedule</h2>

    						Schedule for All Other Days (Mon-Thurs):
                <ul>
                  <li><p class="fragment fade-in" data-fragment-index="1">9:30 - 12:30ish  Lecture in your classroom</p></li>
                  <li><p class="fragment fade-in" data-fragment-index="2">12:30ish - 1:30  Lunch on your own</p></li>
                  <li><p class="fragment fade-in" data-fragment-index="3">1:30 - 4:00  Lab</p></li>
                </ul>

    						<p><br></p>

    						<p class="fragment fade-in" data-fragment-index="4">Each morning you will “sign in” to the classroom. Jwo and Justin will show you what that looks like.</p>




    				</section>

    				<section >

    						<h2>The Schedule</h2>

    						<p>
    						  Schedule for Fridays:
    						</p>

                <ul>
                  <li><p class="fragment fade-in" data-fragment-index="1">10:00 - 11:30  Lab/Guest Speaker</p></li>
                  <li><p class="fragment fade-in" data-fragment-index="2">11:30 - 12:30  Lunch on your own</p></li>
                  <li><p class="fragment fade-in" data-fragment-index="3">12:30 - 4:00  Lab</p></li>
                </ul>
    						<p class="fragment fade-in" data-fragment-index="4"><img src="http://i.giphy.com/jdYUiMqD83IGs.gif" alt=""></p>




    				</section>



    				<!-- Slide WIFI -->

    					<section>

    							<h2>The WiFi</h2>
    							<img src="http://i.giphy.com/FhH2eyaWMgrMQ.gif">

    					</section>

    					<section>

    							<h2>There are 2 WiFi Options:</h2>

    							<p><br></p>
                  <ul>
                    <p class="fragment fade-in" data-fragment-index="1">The Iron Yard</p>
                    <p class="fragment fade-in" data-fragment-index="1">AND</p>
                    <p class="fragment fade-in" data-fragment-index="1">The Iron Yard Too</p>
                    <p class="fragment fade-in" data-fragment-index="3">Password: TIYAHouston</p>
                  </ul>

    					</section>

    					<section>
    						<img src="../images/wifi.png" alt="">
    					</section>

    					<section>

    							<img src="https://brandfolder.com/slack/logo.png">
                  <p>
                    Slack is where the majority of communication will take place.  This includes important announcements. Please ensure that the app is installed on your phone and computer.
                  </p>
                  <p>
                    Here are some help docs to get you started <a href="https://slack.zendesk.com/hc/en-us">https://slack.zendesk.com/hc/en-us</a>.
                  </p>


    					</section>



    				<!-- Slide BUILDING -->

    				<section>
    					<section>

    						<h2>The Building</h2>
    						<p></br></p>

    						<p>
    						  We have 24/7 access to our suite. A key pad lock is on the side door. Outer doors lock at 8:30.  Key fob is in the office.
    						</p>

    						<p class="fragment roll-in" data-fragment-index="1">Door Code - 15324</p>

    						<p class="fragment roll-in" data-fragment-index="2"><img src="../images/Door_Code.gif" height="300" width="250"></p>




    					</section>

    				</section>

    				<!-- Slide PARKING -->

    						<section>

    							<h2>The Parking</h2>
                  <p>
                    <img src="http://i.giphy.com/Rft3013HUeoE0.gif">
                  </p>
                  <p>
                    Street Parking is just fine.  Use common sense and do not park in front of driveways or fire hydrants.
                  </p>

    						</section>

    							<section>
    									<h2>The Parking</h2>
    									<img src="https://www.evernote.com/shard/s19/sh/942386ce-31b5-47b9-88af-4ff069f80b42/57cc052f202ba3c8970b1dfef5e1744c/deep/0/4203-Montrose-Blvd--100---Google-Maps.png">
    							</section>


    				<!-- Slide COFFEE -->

    					<section>

    							<h2>The Coffee</h2>
    							<img src="http://i.giphy.com/U6P1Lp8tbZBfy.gif">

    					</section>

    					<section>

    						<h2>The Coffee</h2>
    						Help yourself to any coffee that is in the kitchen.

    						<p class="fragment fade-in" data-fragment-index="1">The optimal pour over ratio is going to be 35g of grounds to 350g total output.</p>

    						<p class="fragment fade-in" data-fragment-index="2"><img src="http://i.giphy.com/wEGu2LpLFvsFG.gif"></p>

    						<p class="fragment fade-in" data-fragment-index="2">I was told there would be no math!</p>


    					</section>

    					<section>

    							<h2>The Coffee</h2>
    							If you have a favorite coffee mug, please bring to help reduce paper cup waste.


    					</section>

    					<section>

    						<h3>The Kitchen</h3>

    						<img src="http://cdn.meme.am/instances/500x/62179066.jpg">

    					</section>


    					<!-- Slide LUNCH -->
    					<section >

    						<h2>The Lunch</h2>
    						<img src="http://i.giphy.com/xJ3xXy0MHqXhm.gif">
    						<p>Lunch will be 45 minutes and on your own.  Feel free to use the kitchen fridge to your heart's desire.  There is so much awesomeness to eat in this area it is not even funny.</p>

    					</section>

    					<section>
    						<img src="http://media.giphy.com/media/VA4GgVzEEhvq/giphy.gif" alt="">
    					</section>


  </div>
</div>
